mysql-server            install
libmysqlclient-dev      install
python2.6-dev           install
python-setuptools       install
openssh-server          install
byobu                   install
libjpeg-dev             install
